## Answers that were given on the evaluation form


1.  - Naturalness: 7
    - Correct drinks: yes
    - Lacking: Intonation is often incorrect and the Pepper looks away a lot.
    - Plus: The variation in responses <br /><br />
    
2.  - Naturalness: 7
    - Correct drinks: yes
    - The lack of intonation makes it sometimes difficult to understand what Pepper is saying.
    - The diversity in responses of Pepper makes the conversation feel more natural.<br /><br />
    
3.  - Naturalness: 5
    - Correct drinks: yes
    - Additional responses would be nice, also repeated questioning is a bit unnatural, but unavoidable I suppose.
    - The gestures make the conversation feel more natural.<br /><br />
    
4.  - Naturalness: 6
    - Correct drinks: no
        - Can you muddle drinks?
        - no I can't -> set to True (false positive)
    - A wider range of sentence would have made the conversation more natural, otherwise it can become a bit repetitive. Maybe       some kind of confirmation at the user's answer can be useful so that the user can confirm that the robot heard the             correct answer.
    - The sentences had a natural structure, which made the conversation feel more natural and the fact that it was not just         the same sentences that were used.
      e.g. there was variation, but not enough<br /><br />
    
5.  - Naturalness:
    - Correct drinks: no
    - A different method to start listening would have made the conversation feel more natural, or maybe he could have raised         his hand after asking a question.
    - The movements, the variation in words and the fact that he indicates when he does not understand made the conversation         feel more natural. 
