## Answers that were given on the evaluation form


1.  - Naturalness: 7
    - Correct drinks: yes
    - Lacking: Intonation is often incorrect and the Pepper looks away a lot.
    - Plus: The variation in responses.
    
2.  - Naturalness: 7
    - Correct drinks: yes
    - The lack of intonation makes it sometimes difficult to understand what Pepper is saying.
    - The diversity in responses of Pepper makes the conversation feel more natural.
3.  - Naturalness: 5
    - Correct drinks: yes
    - Additional responses would be nice, also repeated questioning is a bit unnatural, but unavoidable I suppose.
    - The gestures make the conversation feel more natural.
